# --- Rust / Cargo ---
target/
debug/
**/*.rs.bk
*.pdb
**/mutants.out*/

# --- Tauri ---
stardust-core/gen/

# --- Node / pnpm / Vite ---
node_modules/
dist/
.pnpm-store/
*.log
.DS_Store

# --- Storybook ---
storybook-static/

# --- Editor / OS ---
#.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
